* {
    margin: 0;
  }

img { 
    height: 1000px; width: 1000px;
    }

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color:#2C1320;
}

a {
    color: #7D82B8;
    text-decoration: none;
}